.input-interface-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f6f7f9;
  margin: 0 0 40px 0;
  padding: 10px 15px;
  width: 80%;
  border-radius: 12px;
}

.active-send-btn {
}

.disabled-send-btn {
}

.active-send-btn:hover {
  cursor: pointer;
}

.disabled-send-btn:hover {
  cursor: not-allowed;
}
